{% extends 'base.html.twig' %}

{% block body %}
<style media="screen">
  a{
    color: #000;
  }
  .btn{
    border:1px solid #000 !important;
    margin-top: 20px;
  }
  .btn:hover{
background-color: #f5f5f5;
  }
</style>
<h1 class="text-center">Welcome to my quiz</h1>


<div class="container">
  <div class="row">
    <div class="col-md-12">
<h2 class="text-center">
{{ quiz.question }}
</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% if (app.request.get('_route') == 'reponse2') or (app.request.get('_route') == 'reponse4') or (app.request.get('_route') == 'reponse3') %}
    <a class="btn" style="width:100%;">{{ quiz.reponse1 }} </a>
      {% elseif app.request.get('_route') == 'quiz_show'  %}
    <a class="btn" style="width:100%;" href="{{ path('reponse1', { 'id': quiz.id }) }}"> {{ quiz.reponse1 }} </a>
      {% endif %}

      {% if app.request.get('_route') == 'reponse1' %}
    <a class="btn" style="background-color:red; color:white; width:100%;"> {{ quiz.reponse1 }} </a>
      {% endif %}
    </div>


    <div class="col-md-6">
      {% if (app.request.get('_route') == 'reponse1') or (app.request.get('_route') == 'reponse4') or (app.request.get('_route') == 'reponse3') %}
    <a class="btn" style="width:100%;">{{ quiz.reponse2 }} </a>
      {% elseif app.request.get('_route') == 'quiz_show'  %}
    <a class="btn" style="width:100%;" href="{{ path('reponse2', { 'id': quiz.id }) }}"> {{ quiz.reponse2 }} </a>
      {% endif %}

      {% if app.request.get('_route') == 'reponse2' %}
    <a class="btn" style="background-color:red; color:white; width:100%;"> {{ quiz.reponse2 }} </a>
      {% endif %}
    </div>


    <div class="col-md-6">
            {% if (app.request.get('_route') == 'reponse1') or (app.request.get('_route') == 'reponse4') or (app.request.get('_route') == 'reponse2') %}
    <a class="btn" style="width:100%;">{{ quiz.reponse3 }} </a>
      {% elseif app.request.get('_route') == 'quiz_show'  %}
    <a class="btn" style="width:100%;" href="{{ path('reponse3', { 'id': quiz.id }) }}"> {{ quiz.reponse3 }} </a>
      {% endif %}

      {% if app.request.get('_route') == 'reponse3' %}
    <a class="btn" style="background-color:green; color:white; width:100%;"> {{ quiz.reponse3 }} </a>
      {% endif %}
    </div>

    <div class="col-md-6">
  {% if (app.request.get('_route') == 'reponse1') or (app.request.get('_route') == 'reponse2') or (app.request.get('_route') == 'reponse3')  %}
    <a class="btn" style="width:100%;">{{ quiz.reponse4 }} </a>
      {% elseif app.request.get('_route') == 'quiz_show'  %}
    <a class="btn" style="width:100%;" href="{{ path('reponse4', { 'id': quiz.id }) }}"> {{ quiz.reponse4 }} </a>
      {% endif %}

      {% if app.request.get('_route') == 'reponse4' %}
    <a class="btn" style="background-color:red; color:white; width:100%;"> {{ quiz.reponse4 }} </a>
      {% endif %}
    </div>

  </div>



<div class="row text-center">
  <div class="col-md-12">

    {% if (app.request.get('_route') == 'reponse1') or (app.request.get('_route') == 'reponse2') or (app.request.get('_route') == 'reponse3') or (app.request.get('_route') == 'reponse4') %}
    <a href="javascript:history.go(-2)" class="btn">Previous</a>
    {% else %}
    <a href="javascript:history.go(-1)" class="btn">Previous</a>
  {% endif %}
  <a href="{{path('quiz_show', {'id': quiz.id+1 }) }}" class="btn">Next</a>
  </div>
</div>


</div>

{% endblock %}
